<html lang="en" dir="ltr">
<head>
	<title>anmon</title>
	<meta charset="utf-8">
	<meta content="Anmon.org Free Downloads" property="og:title">
  	<meta content="" property="og:description">
   	<meta content="https://www.anmon.org/homedark.html" property="og:url">
    	<meta content="https://cdn.discordapp.com/attachments/304758178984361985/677199102819172372/emote.png" property="og:image">
    	<meta content="#EEAA22" data-react-helmet="true" name="theme-color">
</head>

<body>
	<center>
	<div class="colrect">
	<br></br>
	</div>
	<div style="font-family: garamond; font-size:100%; padding-top: 8px; color: white;">
		<a class="link" style="margin-left:16px; margin-right:16px; text-decoration:none;position:static;min-width:100px;" href="https://www.anmon.org/homedark.php">anmon</a>
		<a class="link" style="margin-left:16px; margin-right:16px; text-decoration:none;position:static;min-width:100px;" href="https://www.anmon.org/downloadsdark.html">downloads</a>
		<a class="link" style="margin-left:16px; margin-right:16px; text-decoration:none;position:static;min-width:100px;" href="https://www.anmon.org/gallerydark.html">gallery</a>
		<a class="link" style="margin-left:16px; margin-right:16px; text-decoration:none;position:static;min-width:100px;" href="https://www.anmon.org/soylib.html">soylib</a>
		<a class="link" style="margin-left:16px; margin-right:16px; text-decoration:none;position:static;min-width:100px;" href="https://www.anmon.org/index.html">light mode</a>
	</div>
	</center>

<div>
<br></br>
</div>