#version 330 core
layout(location = 0) in vec3 inPos;
layout(location = 1) in vec2 inUV;

out vec3 outPos;
out vec2 outUV;

void main() {
  vec4 pos = vec4(inPos, 1.0);
  outUV = inUV;
  outPos = inPos;
  gl_Position = pos;
};

