#version 330 core
layout(location = 0) in vec3 inPos;
layout(location = 1) in vec2 inUV;

out vec3 outPos;
out vec3 outPosModel;
out vec2 outUV;
out vec4 outCol;

uniform mat4 model;
uniform mat4 view;
uniform mat4 projection;

void main() {
  vec4 finalCol = vec4(1.0);
  vec4 pos = vec4(inPos, 1.0);
  outUV = inUV;
  outPos = (pos).xyz;
  outPosModel = (model*pos).xyz;
  outCol = finalCol; 
  gl_Position = projection * view * model * pos;
};

